main .breadcrumbs {
  display: inline-block;
  padding: 0;
  list-style: none;
  font-size: var(--body-font-size-xs);
}

main .breadcrumbs ul {
  margin-top: 0;
  padding-top: 0;
  list-style: none;
}

main .breadcrumbs li {
  display: inline-block;
  padding: 10px 5px;
  text-transform: uppercase;
}

main .breadcrumbs li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

main .breadcrumbs li a:hover {
  color: var(--link-hover-color);
}

main .breadcrumbs li:first-child {
  padding-left: 0;
}

main .breadcrumbs li::before {
  content: "▶";
  padding-right: 5px;
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--link-color);
}

main .breadcrumbs li:first-child::before {
  content: none;
}
